@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="card shadow-lg p-5 text-center">
        <h1 class="display-5 fw-bold">Welcome to Metric System</h1>
        <p class="lead mt-3">
            Easily convert from British system to the international metric system.
        </p>
    </div>
</div>
